.DS_Store
*.swp
Gemfile.lock
tmp/
.vagrant/
puppet/.tmp
puppet/.librarian
puppet/Puppetfile.lock
puppet/modules/apache
puppet/modules/apt
#puppet/modules/chocolatey
puppet/modules/concat
puppet/modules/firewall
puppet/modules/mysql
puppet/modules/lvm
puppet/modules/pe_gem
puppet/modules/postgresql
#puppet/modules/powershell
#puppet/modules/registry
puppet/modules/ruby
puppet/modules/selinux
puppet/modules/staging
puppet/modules/stdlib
puppet/modules/systemd
puppet/modules/zabbix
puppet/modules/translate
puppet/modules/inifile
rpm/*
