.DS_Store
*.swp
Gemfile.lock
tmp/
.vagrant/
puppet/.tmp
puppet/.librarian
puppet/Puppetfile.lock
puppet/modules/apache
puppet/modules/apt
puppet/modules/concat
puppet/modules/firewall
puppet/modules/lvm
puppet/modules/mysql
puppet/modules/pe_gem
puppet/modules/postgresql
puppet/modules/ruby
puppet/modules/selinux
puppet/modules/staging
puppet/modules/stdlib
puppet/modules/systemd
puppet/modules/zabbix
