.DS_Store
*.swp
Gemfile.lock
tmp/
.vagrant/
puppet/.tmp
puppet/.librarian
puppet/Puppetfile.lock

puppet/modules/apache
puppet/modules/apt
puppet/modules/augeas
puppet/modules/augeas_core/
puppet/modules/augeasproviders_core
puppet/modules/concat
puppet/modules/core
puppet/modules/firewall
puppet/modules/firewalld
puppet/modules/fw
puppet/modules/hiera
puppet/modules/inifile
puppet/modules/lvm
puppet/modules/mcare/
puppet/modules/mount_core/
puppet/modules/mysql
puppet/modules/postgresql
puppet/modules/puppetdb
puppet/modules/puppetserver
puppet/modules/puppetserver_gem
puppet/modules/resource_api/
puppet/modules/selinux
puppet/modules/stdlib
puppet/modules/systemd
puppet/modules/translate
puppet/modules/zabbix
puppet/modules/zabbix_templates_generic
