module zabbix_netlink_tcpdiag_socket 1.0;

require {
  type zabbix_agent_t;
  class netlink_tcpdiag_socket { create setopt };
}

#============= zabbix_agent_t ==============
allow zabbix_agent_t self:netlink_tcpdiag_socket create;
allow zabbix_agent_t self:netlink_tcpdiag_socket setopt;
